<section class="integrations">
        <section class="integrations__content">
                <div class="container-fluid">
                        <h2 class="integrations__header">Integrates with marketplaces and social commerce apps.</h2>
                        <ul class="integrations__logos">
                                <li class="integrations__logos__stripe"><img src="images/marketplaces/jiji.jpg"
                                                alt="Integration with Jiji"></li>
                                <li class="integrations__logos__square"><img style="max-width:100%"
                                                src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/integrations/logo-square.svg"
                                                alt="Integration with Square"></li>
                                <li class="integrations__logos__zapier"><img
                                                src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/integrations/logo-zapier.svg"
                                                alt="Integration with Zapier"></li>
                                <li class="integrations__logos__paypal"><img
                                                src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/integrations/logo-paypal.svg"
                                                alt="Integration with PayPal"></li>
                                <li class="integrations__logos__ga"><img
                                                src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/integrations/logo-ga.svg"
                                                alt="Integration with Google Analytics"></li>
                        </ul>
                </div>
        </section>
</section>