<section class="feature-area">
    <div class="feature-area-cards">
        <div class="feature-area-card">
            <div class="feature-area-card__text">
                <h2 class="feature-area-card__header">Control your availability with ease</h2>
                <div class="feature-area-card__description">Tools to help you schedule and earn on your own
                    terms–customize exactly how and when clients can book with you, host virtual appointments or
                    classes, and block off personal time.</div>
            </div>
            <div class="feature-area-card__content">
                <video class="feature-area-card__video" autoplay muted loop playsinline>
                    <source
                        src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/01.webm"
                        type="video/webm" />
                    <source
                        src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/01.mp4"
                        type="video/mp4" />
                </video>

            </div>
        </div>
        <div class="feature-area-cards--middle">
            <div class="feature-area-card">
                <div class="feature-area-card__text">
                    <h2 class="feature-area-card__header">Enable automated appointment booking</h2>
                    <div class="feature-area-card__description">Seamlessly manage multiple locations and let clients
                        easily cancel or reschedule their own appointments. Send automated receipts as well as reminder
                        notifications throughout the scheduling process to keep clients prompt.</div>
                </div>
                <div class="feature-area-card__content">
                    <video class="feature-area-card__video" autoplay muted loop playsinline>
                        <source
                            src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/02.webm"
                            type="video/webm" />
                        <source
                            src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/02.mp4"
                            type="video/mp4" />
                    </video>

                </div>
            </div>
            <div class="feature-area-card">
                <div class="feature-area-card__text">
                    <h2 class="feature-area-card__header">Grow your customer base and keep them engaged</h2>
                    <div class="feature-area-card__description">Create custom intake forms to streamline and personalize
                        your customer experience. Use powerful loyalty tools to drive business growth and keep customers
                        coming back.</div>
                </div>
                <div class="feature-area-card__content">
                    <video class="feature-area-card__video" autoplay muted loop playsinline>
                        <source
                            src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/03.webm"
                            type="video/webm" />
                        <source
                            src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/03.mp4"
                            type="video/mp4" />
                    </video>

                </div>
            </div>
        </div>
        <div class="feature-area-card">
            <div class="feature-area-card__text">
                <h2 class="feature-area-card__header">Protect your time and maximize your income</h2>
                <div class="feature-area-card__description">Get peace of mind with no-show protection tools like storing
                    credit cards and secure deposits. Seamlessly offer recurring subscriptions, packages, and gift cards
                    to up your earnings.</div>
            </div>
            <div class="feature-area-card__content">
                <video class="feature-area-card__video" autoplay muted loop playsinline>
                    <source
                        src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/04.webm"
                        type="video/webm" />
                    <source
                        src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-area/04.mp4"
                        type="video/mp4" />
                </video>

            </div>
        </div>
    </div>
</section>