<footer class="frontsite-footer">
    <div class="container">
        <div class="frontsite-footer__language">
            <div class="frontsite-footer__language-selector__container">
                <a href="https://acuityscheduling.com/language-select.php" class="sl_norewrite" id="marketing-domain"
                    aria-labelledby="Open language picker"></a>
                <select class="language-selector" aria-labelledby="Select language">
                    <option value="en-US" selected="selected">English
                    </option>
                    <option value="de-DE">Deutsch
                    </option>
                    <option value="es-ES">Español
                    </option>
                    <option value="fr-FR">Français
                    </option>
                    <option value="it-IT">Italiano
                    </option>
                    <option value="pt-BR">Português
                    </option>
                </select>
                <img alt="Language Selector Dropdown Arrow" class="arrow"
                    src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/chevron-down-white.svg">
            </div>

            <a href="https://www.squarespace.com/" target="_blank">
                <img src="/images/logo-black.png" width="100" alt="vijipay ltd" />
            </a>
        </div>

        <div class="frontsite-footer__nav-container">

            <div class="frontsite-footer__links__container frontsite-footer__links__container--desktop">
                <div class="footer-link-title">
                    <h3>Quick Links</h3>
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="signup4e12.html?entry_point=acuity&amp;btn=footer">Plans &amp; Sign up</a></li>
                        <li><a href="enterprise0911.html?loc=footer">Enterprise</a></li>
                        <li>
                            <a href="https://help.acuityscheduling.com/" onclick="trackHelpLinkClick('footer')">Help
                                &amp; Support</a>
                        </li>
                        <li><a
                                href="https://www.squarespace.com/designer/browse?project_type=SCHEDULING&amp;channel=&amp;subchannel=scheduling&amp;source=redirect">Acuity
                                Certified Experts</a></li>
                        <li><a href="https://www.squarespace.com/?utm_source=acuityscheduling.com&amp;utm_medium=referral&amp;utm_campaign=homepage&amp;utm_content=footer"
                                target="_blank">Build a website </a></li>
                        <li>
                    </ul>
                </div>
            </div>

            <div class="frontsite-footer__links__container frontsite-footer__links__container--desktop">
                <div class="footer-link-title spacer"></div>
                <div class="footer-links">
                    <ul>
                        <li><a href="https://developers.acuityscheduling.com/">API Documentation</a></li>
                        <li><a href="https://www.squarespace.com/privacy">Privacy &amp; Cookie Policy </a></li>
                        <li><a href="https://www.squarespace.com/terms-of-service">Terms of Service</a></li>
                        <li><a href="accessibility-statement.html">Accessibility Statement</a>
                        </li>
                        <li><a href="http://status.acuityscheduling.com/" target="_blank">Uptime</a></li>
                        <li><a href="imprint.html">Imprint</a></li>
                        <div id="teconsent"></div>
                    </ul>
                </div>
            </div>
            <div class="frontsite-footer__links__container frontsite-footer__links__container--mobile" id="quick-links">
                <button class="footer-link-title" data-item="quick-links">
                    <h3>Quick Links</h3>
                    <div class="footer-links-nav-item-button">
                        <img data-item="quick-links"
                            src="https://cdn-marketing.acuityscheduling.com/img/squarespace-core-components/chevron-large-down-dark.svg"
                            alt="Expand">
                    </div>
                </button>
                <div class="footer-links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="signup4e12.html?entry_point=acuity&amp;btn=footer">Plans &amp; Sign up</a></li>
                        <li><a href="enterprise0911.html?loc=footer">Enterprise</a></li>
                        <li><a href="https://help.acuityscheduling.com/" onclick="trackHelpLinkClick('footer')">Help
                                &amp; Support</a></li>
                        <li><a
                                href="https://www.squarespace.com/designer/browse?project_type=SCHEDULING&amp;channel=&amp;subchannel=scheduling&amp;source=redirect">Acuity
                                Certified Experts</a></li>
                        <li><a href="https://www.squarespace.com/?utm_source=acuityscheduling.com&amp;utm_medium=referral&amp;utm_campaign=homepage&amp;utm_content=footer"
                                target="_blank">Build a website &raquo;</a></li>
                        <li><a href="https://developers.acuityscheduling.com/">API Documentation</a></li>
                        <li><a href="https://www.squarespace.com/privacy">Privacy &amp; Cookie Policy </a></li>
                        <li><a href="https://www.squarespace.com/terms-of-service">Terms of Service</a></li>
                        <li><a href="https://secure.acuityscheduling.com/accessibility-statement.php">Accessibility
                                Statement</a></li>
                        <li><a href="http://status.acuityscheduling.com/" target="_blank">Uptime</a></li>
                        <li><a href="imprint.html">Imprint</a></li>
                        <div id="teconsent"></div>
                    </ul>
                </div>
            </div>
            <div class="frontsite-footer__links__container" id="follow-links">
                <div class="footer-link-title footer-link-title--desktop" data-item="follow-links">
                    <h3>Follow</h3>
                    <div class="footer-links-nav-item-button">
                        <img data-item="follow-links"
                            src="https://cdn-marketing.acuityscheduling.com/img/squarespace-core-components/chevron-large-down-dark.svg"
                            alt="Expand">
                    </div>
                </div>
                <button class="footer-link-title footer-link-title--mobile" data-item="follow-links">
                    <h3>Follow</h3>
                    <div class="footer-links-nav-item-button">
                        <img data-item="follow-links"
                            src="https://cdn-marketing.acuityscheduling.com/img/squarespace-core-components/chevron-large-down-dark.svg"
                            alt="Expand">
                    </div>
                </button>
                <div class="footer-links">
                    <ul>
                        <li><a href="learn.html" aria-label="Squarespace Scheduling Blog">Blog</a></li>
                        <li><a href="https://www.instagram.com/acuityscheduling/"
                                aria-label="Acuity on Instagram">Instagram</a></li>
                        <li><a href="https://twitter.com/acuity" aria-label="Acuity on Twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>

            <div class="frontsite-footer__links__container" id="stay-in-touch">
                <div class="footer-link-title footer-link-title--desktop" data-item="stay-in-touch">
                    <h3>Company</h3>
                    <div class="footer-links-nav-item-button">
                        <img data-item="stay-in-touch"
                            src="https://cdn-marketing.acuityscheduling.com/img/squarespace-core-components/chevron-large-down-dark.svg"
                            alt="Expand">
                    </div>
                </div>
                <button class="footer-link-title footer-link-title--mobile" data-item="stay-in-touch">
                    <h3>Company</h3>
                    <div class="footer-links-nav-item-button">
                        <img data-item="stay-in-touch"
                            src="https://cdn-marketing.acuityscheduling.com/img/squarespace-core-components/chevron-large-down-dark.svg"
                            alt="Expand">
                    </div>
                </button>
                <div class="footer-links">
                    <ul>
                        <li><a href="https://help.acuityscheduling.com/hc/requests/new">Contact Us</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>