<section class="hero-block">
    <div class="hero-block-wrapper">
        <div class="hero-block-content">
            <h1>Transact with peace of Mind</h1>
            <p class="hero-block-caption">With Vijipay, you can buy and sell anything safely without the risk of being
                scammed.</p>
            <div class="hero-block-cta-box" id="hero-cta">
                <a id="hero-try-scheduling-btn"
                    href="https://secure.acuityscheduling.com/signup.php?action=form&amp;type=professional&amp;freeTrial=1&amp;lite=1&amp;btn=home-hero"
                    data-testid="try-now-button">Get started now</a>
                <p>It's easy, it's fast, it's safe and secure</p>
            </div>
        </div>
        <div class="hero-block-carousel-wrapper">
            <div class="hero-block-carousel">
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout@4x.webp 1200w" alt=Blowout>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair@4x.webp 1200w" alt=Hair
                        Appointment>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki@4x.webp 1200w" alt=Reiki
                        Session>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens@4x.webp 1200w" alt=Lens
                        Adjustment>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car@4x.webp 1200w" alt=Car Detailing>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance@4x.webp 1200w" alt=Dance Lesson>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/blowout@4x.webp 1200w" alt=Blowout>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/hair@4x.webp 1200w" alt=Hair
                        Appointment>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/reiki@4x.webp 1200w" alt=Reiki
                        Session>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/lens@4x.webp 1200w" alt=Lens
                        Adjustment>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/car@4x.webp 1200w" alt=Car Detailing>
                </div>
                <div class="hero-block-img-wrapper">
                    <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance.webp"
                        srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance.webp 300w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance@2x.webp 600w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance@3x.webp 900w,
				https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/dance@4x.webp 1200w" alt=Dance Lesson>
                </div>
            </div>
        </div>
        <button class="hero-block__film-btn">
            <img alt="play button"
                src='https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/hero/play.svg' />
            <span class="hero-block__film-button-text">Watch the film</span>
        </button>
    </div>

    <div class="hero-overlay hero-overlay--closed hero-overlay--hidden">
        <div class="hero-overlay-header">
            <button class="hero-overlay-header__close-btn">
                <svg viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="20.7842" y="22.4998" width="20" height="1.5" transform="rotate(-135 20.7842 22.4998)">
                    </rect>
                    <rect x="21.7842" y="8.5" width="20" height="1.5" transform="rotate(135 21.7842 8.5)"></rect>
                </svg>
            </button>
        </div>
        <div class="hero-overlay__video-wrapper">
            <div class="hero-overlay__video">
                <iframe id="hero-overlay-video-embed" src="#" title="Acuity Reveal " frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>