<section class="feature-plus-block">
    <div class="feature-plus-block__subsection">
        <div class="feature-plus-block-card-wrapper">
            <h2 class="feature-plus-block__subsection-header">
                Delight clients with robust booking and payment tools
            </h2>

            <img class="feature-plus-block__subsection-image feature-plus-block__subsection-image--mobile"
                src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients.webp"
                srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients.webp 1x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients@2x.webp 2x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients@3x.webp 3x"
                alt="Delight clients">

            <div class="feature-plus-block__subsection-dropdown-container">
                <div class="feature-plus-block__subsection-dropdown" tabindex="0" data-item="seamless">
                    <div class="feature-plus-block__subsection-dropdown-label">
                        <h3>Seamless booking experience</h3>
                        <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/chevron-down.svg"
                            alt="Expand">
                    </div>

                    <ul class="feature-plus-block__subsection-dropdown-content">
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Allow client self-scheduling
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Customize the booking page to match your brand
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Send automated appointment notifications and reminders
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Set clear time zones and locations (multiple time zones available on our Powerhouse plan)
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Require clients to accept cancellation policies and terms
                        </li>
                    </ul>
                </div>

                <div class="feature-plus-block__subsection-dropdown-divider"></div>

                <div class="feature-plus-block__subsection-dropdown" tabindex="0" data-item="relationship">
                    <div class="feature-plus-block__subsection-dropdown-label">
                        <h3>Relationship-building tools</h3>
                        <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/chevron-down.svg"
                            alt="Expand">
                    </div>

                    <ul class="feature-plus-block__subsection-dropdown-content">
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Send automated appointment follow-ups over text or email (Text feature available on our
                            Growing Plan+)
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Create custom intake forms and policies
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Store important information in client profiles
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Build customer loyalty with coupons, discounts, and subscriptions
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Offer appointment packages including payment plans (available on our Growing Plan+)
                        </li>
                    </ul>
                </div>

                <div class="feature-plus-block__subsection-dropdown-divider"></div>

                <div class="feature-plus-block__subsection-dropdown" tabindex="0" data-item="easy">
                    <div class="feature-plus-block__subsection-dropdown-label">
                        <h3>Easy and secure client payment options</h3>
                        <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/chevron-down.svg"
                            alt="Expand">
                    </div>

                    <ul class="feature-plus-block__subsection-dropdown-content">
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Keep a card on file for no-show protection
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Offer flexible and convenient client payment integrations (Stripe, Square, PayPal)
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Add options for prepayment, tipping, and deposits
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Create invoices and receipts
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Upsell with appointment checkout add-ons
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <img class="feature-plus-block__subsection-image feature-plus-block__subsection-image--desktop"
            src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients.webp"
            srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients.webp 1x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients@2x.webp 2x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/delight-clients@3x.webp 3x"
            alt="Delight clients">
    </div>
    <div class="feature-plus-block__divider"></div>
    <div class="feature-plus-block__subsection">
        <div class="feature-plus-block-card-wrapper">
            <h2 class="feature-plus-block__subsection-header">
                Easy scheduling management, so you can focus on your passion
            </h2>

            <img class="feature-plus-block__subsection-image feature-plus-block__subsection-image--mobile"
                src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling.webp"
                srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling.webp 1x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling@2x.webp 2x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling@3x.webp 3x"
                alt="Easy scheduling management">

            <div class="feature-plus-block__subsection-dropdown-container">
                <div class="feature-plus-block__subsection-dropdown" tabindex="0" data-item="schedule">
                    <div class="feature-plus-block__subsection-dropdown-label">
                        <h3>Schedule your way with flexible availability tools</h3>
                        <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/chevron-down.svg"
                            alt="Expand">
                    </div>

                    <ul class="feature-plus-block__subsection-dropdown-content">
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Limit when clients book and cancel appointments
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Prevent appointment overload by setting a maximum daily appointment limit
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Schedule different types of appointments within specific time slots
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Create recurring appointments
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Offer virtual appointments
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Easy multi-location management
                        </li>
                    </ul>
                </div>

                <div class="feature-plus-block__subsection-dropdown-divider"></div>

                <div class="feature-plus-block__subsection-dropdown" tabindex="0" data-item="calendar">
                    <div class="feature-plus-block__subsection-dropdown-label">
                        <h3>Calendar and staff management to streamline your day</h3>
                        <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/chevron-down.svg"
                            alt="Expand">
                    </div>

                    <ul class="feature-plus-block__subsection-dropdown-content">
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Manage staff, permissions and available resources
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Stay on track using all-in-one calendar management and syncing
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Feel confident with built-in HIPAA compliance (available on our Powerhouse plan)
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Offer and manage classes, workshops, or group events
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Use the mobile app to run your business on the go
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Get advanced reporting about appointments, no shows, and performance
                        </li>
                    </ul>
                </div>

                <div class="feature-plus-block__subsection-dropdown-divider"></div>

                <div class="feature-plus-block__subsection-dropdown" tabindex="0" data-item="tools">
                    <div class="feature-plus-block__subsection-dropdown-label">
                        <h3>Tools to grow your client reach</h3>
                        <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/chevron-down.svg"
                            alt="Expand">
                    </div>

                    <ul class="feature-plus-block__subsection-dropdown-content">
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Easily share your booking page on your website or directly with clients
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Build a powerful web presence with Squarespace
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Livestream classes from anywhere
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Instagram, Google, and Facebook integrations to accept bookings anywhere
                        </li>
                        <li class="feature-plus-block__subsection-dropdown-item">
                            Integrate with MailChimp, AWeber, and other email providers
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <img class="feature-plus-block__subsection-image feature-plus-block__subsection-image--desktop"
            src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling.webp"
            srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling.webp 1x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling@2x.webp 2x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/frontsite/feature-plus-block/easy-scheduling@3x.webp 3x"
            alt="Easy scheduling management">
    </div>
</section>