<nav class="frontsite-header">
    <div class="menu-container">
        <div class="navlogo">
            <div class="navlogo__container">
                <a href="index.html" class="navlogo__logo navlogo__viji ">
                    <img src="./images/logo-green.png" width="80" alt="viji mobile logo" />
                </a>
            </div>
            <div class="navlogo__vvijipay">
                <a id="mobile-cta-try" class="navlogo__vvijipay-btn v amp-external "
                    href="https://secure.acuityvijipay.com/signup.php/?action=form&amp;type=professional&amp;freeTrial=1&amp;lite=1&amp;btn=nav&amp;&amp;action=form&amp;type=professional&amp;freeTrial=1&amp;lite=1&amp;btn=nav&amp;overrideLocale=en-US&amp;device_id=06b27681-42e4-4b61-80a3-4f9ee95b484d&amp;analytics_id=06b27681-42e4-4b61-80a3-4f9ee95b484d&amp;entry_point=acuity#/signup">Get
                    started</a>
            </div>
        </div>
        <a href="index.html" class="navlogo--no-animation">
            <img src="./images/logo-green.png" width="107px" alt="desktop vijipaylogo" />
        </a> <img src="/images/icons/hamburger.svg" alt="Navigation" class="hamburger-icon"
            (click)="showMobileMenu()" />
        <ul id="nav-links" class="links">
            <li><a href="signup5f75.html?entry_point=acuity&amp;btn=nav">Pricing</a>
            </li>
            <li>
                <a href="https://help.acuityvijipay.com/" onclick="trackHelpLinkClick('nav')">Help</a>
            </li>
            <li class="login"><a href="https://secure.acuityvijipay.com/login.php?nav=1&amp;btn=nav-bar"
                    data-testid="log-in-link">Log in</a></li>
            <li>
                <a class="v amp-external " data-testid=nav-viji-vijipay
                    href="https://secure.acuityvijipay.com/signup.php?action=form&amp;type=professional&amp;freeTrial=1&amp;lite=1&amp;btn=nav">Get
                    started</a>
            </li>
        </ul>
    </div>
    <div class="mobile-menu-container">
        <div class="mobile-menu-overlay"></div>
        <div class="mobile-menu-content">
            <div class="mobile-menu-header">
                <button id="mobile-menu-authed-back-btn"
                    class="reset-button mobile-menu-header__btn back-text back-text--hidden"> Back</button>
                <div></div>
                <a href="index.html" class="logo">
                    <img src="./images/logo-black.png" width="80" alt="vijipay ltd" />
                </a>
                <button id="mobile-menu-close-btn" class="reset-button mobile-menu-header__btn close-text"
                    (click)="hideMobileMenu()">Close</button>
            </div>
            <ul id="nav-links-mobile" class="mobile-menu-links">
                <li><a href="signup5f75.html?entry_point=acuity&amp;btn=nav">Pricing</a></li>
                <li>
                    <a href="https://help.acuityvijipay.com/" onclick="trackHelpLinkClick('nav')">Help</a>
                </li>
                <li class="login"><a href="https://secure.acuityvijipay.com/login.php?nav=1&amp;btn=nav-bar"
                        data-testid="log-in-link">Log in</a></li>
                <li class="viji-vijipay-img">
                    <a class="v amp-external"
                        href="https://secure.acuityvijipay.com/signup.php/?action=form&amp;type=professional&amp;freeTrial=1&amp;lite=1&amp;btn=nav-menu&amp;action=form&amp;type=professional&amp;freeTrial=1&amp;lite=1&amp;btn=nav-menu&amp;overrideLocale=en-US&amp;device_id=06b27681-42e4-4b61-80a3-4f9ee95b484d&amp;analytics_id=06b27681-42e4-4b61-80a3-4f9ee95b484d&amp;entry_point=acuity#/signup">Get
                        started</a>
                </li>
            </ul>
        </div>
    </div>
</nav>