<section class="support">
    <div class="support__container">
        <div class="support__content">
            <h2>Knowing your name is only the beginning.</h2>
            <p>Our global award-winning team of real (awesome) humans proudly support over 250,000 customers. Whatever
                you
                need, we'll be there to help you take over the world, one problem-solving conversation at a time.</p>
            <div class="support__content-links">
                <a href="https://help.acuityscheduling.com/">Visit Help Center</a>
                <a href="https://help.acuityscheduling.com/hc/requests/new">Contact Support</a>
                <a href="https://learning.squarespace.com/webinars">Webinars</a>
                <a href="learn.html">Blog</a>
            </div>
        </div>
        <div class="support__image">
            <img src="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/support.webp"
                srcset="https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/support.webp 1x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/support@2x.webp 2x, https://cdn-marketing.acuityscheduling.com/img/marketing/squarespace/v3/support@3x.webp 3x"
                alt="People with laptops and dog">
        </div>
    </div>
</section>